:root {
    --primaria: #F3F5FC;
    --primariaHover: #f4f4f4;
    --secundaria: #0A3871;
    --secundariaHover: #0b3e7c;
    --terciaria: white;
    --quarternaria: #D8DFE8;
    --quarternariaHover: #d0d9e4;
    --texto-resposta:#495057;
    --logo-alura: url(./assets/logo-alura.svg);
    --icone-troca-tema: invert(20%) sepia(100%) saturate(400%) hue-rotate(180deg); 
    --icone-troca-tema-hover: invert(20%) sepia(100%) saturate(100%) hue-rotate(180deg); 
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primaria);
    color: var(--texto-resposta);
    background-image: url(./assets/logo\ ONE.webp);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 90px;
}

body.dark-mode {
    --primaria: #2e3241;
    --primariaHover: #323646;
    --secundaria: #7f87a5;
    --secundariaHover: #757e9e;
    --terciaria: #343c52;
    --quarternaria: #363a4c;
    --quarternariaHover: #3b4054;
    --texto-resposta: #d1d1d1;
    --logo-alura: url(./assets/logo-alura-dark-mode.png);
    background-color: var(--primaria);
    color: var(--texto-resposta);
    --icone-troca-tema: invert(25%) sepia(100%) saturate(400%) hue-rotate(180deg); 
    --icone-troca-tema-hover: invert(33%) sepia(100%) saturate(500%) hue-rotate(180deg); 
}

.container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
    margin-top: 2%;
    padding: 1%;
    border-radius: 24px ;
    background-color: var(--terciaria);
    width: 90px;
    height: 158px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.07);
    background-image: var(--logo-alura);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-x: 25px;
    background-position-y: 7px;
}

.logo {
    filter: opacity(0%);
    width: 30px;
}

h1{
    color: var(--texto-resposta);
    font-size: 1rem;
    font-weight: 600;
}

.iconeTrocaTema {
    width: 35px;
    filter: opacity(100%);
    filter: var(--icone-troca-tema);
}
.iconeTrocaTema:hover {
    filter: var(--icone-troca-tema-hover);
}

main {
    display: flex;
    justify-content: space-evenly;
    margin-right: 1%;
    margin-top: 2%;
    width: 90%;
}

.text-area {
    font-size: 2rem;
    border: none;
    color:var(--secundaria);
    margin-top: 3%;
    text-transform: lowercase;
    height: 82.5%;
    width: 90%;
    background: none;
    resize: none;
}

::placeholder {
    color: var(--secundaria);
    text-transform: none;
}

.text-area:focus {
    outline: none;
}

.resposta {
    border: none;
    background-color: transparent;
    color: var(--secundaria);
    width: 97%;
    height: 100%;
    resize: none;
    font-size: 2rem;
}

.resposta:focus {
    outline: none;
}

.botoes {
    display: flex;
    position: relative;
    position: inherit;
    gap: 24px;
}

.botaoCriptografar {
    border: none;
    border-radius: 24px;
    border-width: 1.5%;
    border-style: solid;
    background-color: var(--secundaria);
    width: 20.5rem;
    height: 4.2rem;
    text-align: center;
    color: var(--terciaria);
}
.botaoCriptografar:hover { background-color:var(--secundariaHover);}
.botaoCriptografar:active {border-width: 4px; background-color:var(--secundariaHover);}

.botaoDescriptografar {
    border-color: var(--secundaria);
    border-radius: 24px;
    border-width: 1.5%;
    border-style: solid;
    color: var(--secundaria);
    background-color:var(--quarternaria);
    width: 20.5rem;
    height: 4.2rem;
    text-align: center;
}
.botaoDescriptografar:hover { background-color: var(--quarternariaHover);}
.botaoDescriptografar:active {border-width: 4px; background-color: var(--quarternariaHover);}

.botaoCopiar {
    border-color: var(--secundaria);
    border-radius: 24px;
    border-width: 1.5%;
    border-style: solid;
    background-color: var(--terciaria);
    width: 20.5rem;
    height: 4.2rem;
    text-align: center;
    color: var(--secundaria);
}
.botaoCopiar:hover {background-color: var(--primariaHover);}
.botaoCopiar:active {border-width: 4px; background-color: var(--primariaHover);}

.section-esquerda {
    padding: 0%;
    justify-content: flex-start;
}

.info {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 15px;
}

h6 {
    font-size: 40%;
    margin:none;
    padding: none;
}

.section-direita {
    display: flex;
    flex-direction: column;
    background-color: var(--terciaria);
    background-image:url(./assets/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: flex-end;
    padding: 1%;
    border-radius: 32px;
    width: 400px;
    height: 844px;
    box-shadow: 0px 22px 100px 1px rgba(0, 0, 0, 0.09);
}

.mensagem-destaque {
    font-weight: 700;
    font-size: 2rem;
    color:var(--texto-resposta);
    text-align: center;
    background: none;
}

.mensagem {
    color:var(--texto-resposta);
    text-align: center;
    background: none;
    font-size: 1rem;
    margin-bottom: 100px;
}

.assinatura {
    align-items: center;
    background-color: var(--terciaria);
    border-radius: 16px;
    width: max-content;
    display: flex;
    gap: 10px;
    margin: 1%;
    padding: 0.6%;
}
.texto-assinatura{
    font-size: 0.8rem;
}
.github , .linkedin {
    width: 1.5rem;
    filter: var(--icone-troca-tema);
}
.github:hover , .linkedin:hover{ 
    filter: var(--icone-troca-tema-hover);
}
  

@media (max-width: 650px) {
    body {
        flex-direction: column;

    }

    .container {
        flex-direction: column;

        margin: none;
    }

    header{
        margin-top: 2%;
        width: 100%;
        flex-direction: row;
    }


    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .botoes {
        align-items: center;
        flex-direction: column;
    }

    .botaoCriptografar , .botaoDescriptografar , .botaoCopiar {
        font-size: 1rem;
        width: 97%;
    }
    
    .section-esquerda {
        justify-content: flex-start;

    }

    .section-direita {
        width: 95%;
        height: 3%;
        padding: 2%;
        padding-top:8%;
        padding-bottom: 8%;
        justify-content: flex-start;
        background-image: none;
    }

    .mensagem-destaque {
        font-size: 1.7rem;
    }

    .mensagem{
        margin-bottom: 0px;
        font-size: 1.3rem;
    }
}


@media (max-width: 1100px) {

    body {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    header{
        margin-top: 2%;
        width: 280px;
        height: 65px;
        flex-direction: row;
    }

    main {
        margin: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }

    .botoes {
        align-items: center;
    }

    .botaoCriptografar , .botaoDescriptografar , .botaoCopiar {
        font-size: 1rem;
        width: 97%;
    }

    .text-area {
        width: 100%;
        min-height: 400px;
    }
    
    .section-esquerda {
        padding: 0%;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .section-direita {
        width: 97%;
        height: 3%;
        padding: 1%;
        padding-top:5%;
        padding-bottom: 5%;
        justify-content: flex-start;
        background-image: none;
    }
    .mensagem-destaque {
        font-size: 1.9rem;
    }
    .mensagem{
        margin-bottom: 0px;
        font-size: 1.3rem;
    }
}


